body {
  margin: 8%;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 4vw;
/*  color: blue;*/
  /*background: #e6e6e6;*/
  text-align: center;
  overflow-x:hidden;
}


h1 {
  color: #373fff;
  font-family: Roboto, sans-serif;

font-weight: 100;

font-style: normal;
}

button{
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 20px;
  padding: 35px 60px;
  text-align: center;
  outline: none;
  margin-bottom: 2%;
}


p{
	font-size: 1.5vw;
}

#whole{
  border: 2px solid red;
  color:red;
}

#whole:hover{
  background-color: #f55142; /* For browsers that do not support gradients */
  color: white;

}
.whole-txt{
  color:red;
  font-size: 1.5vw;
}

#dest{
  border: 2px solid #ffc400;
}
#dest:hover{
  background-color: #ffdd00; /* For browsers that do not support gradients */
  color: white; 


}
.dest-txt{
  color:#ffc400;
  font-size: 1.5vw;
}

#stu{
  border: 2px solid #009c10;
}
#stu:hover{
  background-color: #2dbf00; /* For browsers that do not support gradients */
  color: white; 
}
.stu-txt{
  color: #009c10;
  font-size: 1.5vw;
}

#cur{
  border: 2px solid blue;
}

#cur:hover{
  background-color: #0044ff; /* For browsers that do not support gradients */
  color: white; 
}

.cur-txt{
  font-size: 1.5vw;
  color:blue ;
}

#bor{
  border: 2px solid red;
}
#bor:hover{
  background-color: #f55142; /* For browsers that do not support gradients */
  color: white; 
}
.bor-txt{
  color:red;
  font-size: 1.5vw;
}

#sm{
  border: 2px solid #009c10;
}
#sm:hover{
  background-color: #2dbf00; /* For browsers that do not support gradients */
  color: white; 
}

.sm-txt{
  color: #009c10;
  font-size: 1.5vw;
}

.list{
  color: white;
/*  font-size: 50%;
    margin: auto;
  width: 95%;
  padding: 10px;*/
  z-index: 0;

}

#tagline-whole{
  position: relative;
/*  top:80%;
  left: 40%;*/
  margin: 0;
  margin-top: 10%;
  align-content: center;
  text-align: center;
  color: gray;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  background: -webkit-linear-gradient( 146deg,  #fb3f3f, #ffa600, #ffc900, #09d21d, #0086ff, #ff00f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a{
  color: black;
  text-decoration: none;
  font-size: 3vw;
}

a:visited{
  color:black;
  background-color: yellow;
}

a:hover{
  font-family: Roboto, sans-serif;

font-weight: 400;

font-style: italic;
}

.about{
  position: absolute;
  left: 2%;
  top:0%;
  font-size: 0.6vw;
  color: black;
}

.info{
  position: absolute;
  right: 1%;
  top:0%;
  font-size: 0.6vw;
  color: black;
}
#info{
  border-radius: 50%;
  padding: 0px 10px;
}


.main-sent{
font-family: Roboto, sans-serif;

font-weight: 400;

font-style: normal;
color: black;
}

.txt-box{
  position: relative;
  border: 2px solid black;
  width: 95%;
  height: 15vh;
  align-content: center;
  text-align: center;
  background-color: white;
  overflow-y: scroll;
  border-radius: 80px;
  margin: 1%;
  filter: drop-shadow(5px 5px 3px gray);

/*  margin: auto;*/
}

@media screen and (max-width: 500px) {
  
            .first,
            .second,
            .third {
                width: 70%;
            }
        }
.quiz{
  color: black;
  font-size: 2.5vw;
  overflow-y: scroll;
  text-align: center;
  background: -webkit-linear-gradient( 146deg, #fb3f3f, #fb3f3f, #ffa600, #09d21d, #0086ff, #ff00f9, #ff00f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-box{
  position: relative;
  width: 80%;
  left: 10%;
  height: 93%;
border: 2px solid black;
background-color: white;
overflow-y: scroll;
padding: 4%;
padding-bottom: 14%;
border-radius: 20px;
filter: drop-shadow(7px 7px 4px gray);
}

.self{
  font-size: 1.5vw;
  position: relative;
}

.search_icon{
  width: 3%;
  float: left;
  z-index: 2;
  padding: 3%;
  height: auto;
}

.profile{
  font-size: 1vw;
  color: black;
}

.profile:hover{
  text-decoration: underline;
}

.about-txt{
  font-size: 1vw;
  color: black;
}

.about-txt:hover{
  text-decoration: underline;
}

#submit{
  border: none;
  background-color: transparent;
   padding: 15px 50px;
}

#about_button{
    border: none;
  background-color: transparent;
   padding: 15px 20px;
   left: 1%;
   top: 1%;
}

.about-box{
  visibility: hidden;
}

.txt-color{
  color: red;
}
