

@font-face{
  font-family: MoonbaseAlpha;
  src: url(fonts/moonbase/MoonbaseAlpha.ttf);


}
body{
	  background-image: radial-gradient(#212121 40%, transparent 40%),
  	radial-gradient(white 20%, transparent 20%);
  	background-color: white;
  	background-position: 0 0, 50px 50px;
  	background-size: 9px 9px;
  	height: 400vw;
  	width: 100vw;
    overflow-x: hidden;
}

h1{
	color: white;
	font-size: 1300%;
	stroke: 10px black;
	font-family: ten-oldstyle, serif;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;

}

h2{
	font-size: 150%;
	font-family: ten-oldstyle, serif;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
/*  color: #EFEFEF;*/
/*color: black;*/
}

h3{
	font-size: 200%;
	text-align: center;
	line-height: 80%;
	font-family: 'moonbasealpha';
	line-height: 80%;
	text-align: left;
  letter-spacing: 5px;
  text-transform: uppercase;


}

h4{
  font-size: 60%;
  text-align: left;
  line-height: 130%;
  font-family: ten-oldstyle, serif;
  font-weight: 400;
  font-style: italic;
}

h5{
  font-family: ten-oldstyle, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 750%;
  text-align: left;
  line-height: 100%;
  margin: auto 0;
}

h6{
  font-size: 200%;
  text-align: center;
  line-height: 80%;
  font-family: 'moonbasealpha';
  line-height: 80%;
  text-align: left;
  color:white;
  letter-spacing: 3px;
}

.polka-dots{
  background-image: radial-gradient(#212121 40%, transparent 40%),
  radial-gradient(white 20%, transparent 20%);
  background-color: transparent;
  background-position: 0 0, 50px 50px;
  background-size: 9px 9px;
  height: 400vw;
  width: 100vw;
  position: fixed;
  z-index:-1;
  top:0px;
  right: 0px;


}


#banner{
	background-color: black;
	display: flex;
	position: relative;
	z-index:0;
	font-size: 550%;
	border-radius: 0%;
	width: 100vw;
	height: 80%;
	border: 2px solid black;
	padding: 30px;
	top:-90px;
  width: 100vw;
  color: white;
}

.txt-illusion{
	color: white;
	position: absolute;
	top: -40%;
   	left: 3%;
   	bottom: 0;
   	right: 0;
   	z-index: -1;
   	overflow: hidden;
   	font-size: 1500%;
   	height: 400vw;
  	width: 100vw;
  	-webkit-text-stroke-width: 0.2px;
  	-webkit-text-stroke-color: black;
}

.sf{
	position:relative;
	top:4%;
	left: -1%;
  filter: drop-shadow(0px 0px 10px black);
	
}

#sf_button {
    padding: 4.5% 10%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: -3;
}

#sf_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}

#sf_banner{
  background-color: black;
  display: flex;
  position: relative;
  font-size: 550%;
  border-radius: 0%;
  width: 100vw;
  height: 7%;
  border: 2px solid black;
  padding: 30px;
  top:-210px;
  width: 100vw;
  color: white;
  z-index: 1;
}

.los-angeles{
	position:relative;
	top:-8%;
	left: 50%;
  filter: drop-shadow(0px 0px 10px black);
}


#la_button{
    padding: 4% 8%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: -3;
    position: 60px 90px;

}

#la_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}

.chicago{
	position:relative;
	top:-8%;
	left: 67%;
  filter: drop-shadow(0px 0px 10px black);
}
#chicago_button{
    padding: 4% 8%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: -3;
}
#chicago_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}

.boston{
  position:relative;
  top:-7%;
  left: 5%;
  filter: drop-shadow(0px 0px 10px black);
  
}

#boston_button{
    padding: 4% 5%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: -3;
    position: 60px 90px;
	
}
#boston_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}
.providence{
  position:relative;
  top:-18%;
  left: 33%;
  filter: drop-shadow(0px 0px 10px black);
  
}

#providence_button{
    padding: 4% 9%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: -3;
    position: 60px 90px;
	
}
#providence_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}
.nyc{
  position:relative;
  top:-29.5%;
  left: 56.8%;
  filter: drop-shadow(0px 0px 10px black);
  
}

#nyc_button{
    padding: 4% 6%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: -3;
    position: 60px 90px;
}
#nyc_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}

.menu{
  position:relative;
  top:-79%;
  left: 60%;
  filter: drop-shadow(0px 0px 10px black);
}


#menu_button{
  padding: 5%;
  border-radius: 50%;
  border: 1px solid black;
  z-index: -3;
  position: 60px 90px;

}


#menu_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}

#menu_banner{
  background-color: black;
  display: flex;
  position: relative;
  font-size: 550%;
  border-radius: 0%;
  width: 100vw;
  height: 80%;
  border: 2px solid black;
  padding: 30px;
  top:800px;
  width: 100vw;
  color: white;
}


.about{
  position:relative;
  top:-92.5%;
  left: 73.3%;
  filter: drop-shadow(0px 0px 10px black);
  
}

#about_button{
    padding: 5%;
    border-radius: 50%;
    border: 1px solid black;
    z-index: -3;
    position: 60px 90px;
}
#about_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}

#about_banner{
  background-color: black;
  display: flex;
  position: relative;
  z-index:0;
  font-size: 550%;
  border-radius: 0%;
  width: 100vw;
  height: 80%;
  border: 2px solid black;
  padding: 30px;
  top:730px;
  width: 100vw;
  color: white;

}

#about-container{
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-left: 0%;
  margin-top: 123vh;
  border: 1px solid black;
  top:265%;
  display: flex;
}

.circle{
  position:relative;
  top:1.5%;
  left: 39.1%;
  filter: drop-shadow(0px 0px 10px black);
  
}

#circle_button{
    padding: 6%;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 1;
    width: 15px;
    height: 15px;
    position:relative;
    top:0%;
}

#circle_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 1.5s;
}


.container{
	padding: 40px;
	position:absolute;
	width: 100vw;
	height: 100vw;

}

.about_content{
  background-color: white;
  display: block;
  position: relative;
  top: 720px;
  height: 30vw;
  width: 60vw;
  margin: auto;
  border: 1px solid black;
  padding: 3% 5%;
  font-size: 180%;
  border-radius: 150px;
  overflow: scroll;

}

.menu_content{
  background-color: white;
  display: block;
  position: relative;
  top: 790px;
  height: 30vw;
  width: 60vw;
  margin: auto;
  border: 1px solid black;
  padding: 3% 5%;
  font-size: 180%;
  border-radius: 150px;
  overflow: scroll;
}

.sf_title{
  top: 6%;
  left:7%;
  position: absolute;
  z-index: 1;
  font-size: 1250%;
}

.sf-container{
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 0%;
  margin-top: 123vh;
  background-color: white;
  border: 1px solid black;
/*  top:265%;*/
  display: flex;

}

div.sf-container{
  background-image: url(pattern_sf.png);
}

div{
  display: block;
}

.location {
  position: absolute;
  width: 24%;
  height: 53.5%;
  margin-left:20%;
  margin-top: -2%;
  left:-12%;
  font-size: 80%;
  padding: 1%;
  text-align: left;
  background-color: white;
  border: 1px solid black;
  top:36%;
   overflow: scroll;
}

.location_text{
  font-family: ten-oldstyle, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 130%;
}

.food_fact{
  position: absolute;
  width: 54%;
  height: 53.5%;
  margin-left:2%;
  margin-top: -2%;
  left:36%;
  font-size: 80%;
  padding: 1%;
  text-align: left;
  background-color: white;
  border: 1px solid black;
  top: 36%;
   overflow: scroll;
}

.location_title{
  font-size: 750%;
  font-family: 'moonbasealpha';
  line-height: 80%;
  text-align: left;
  letter-spacing: 1px;
}

.location_name{
  font-family: ten-oldstyle, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 250%;
}

.ff_title{
  font-size: 850%;
  font-family: 'moonbasealpha';
  line-height: 80%;
  text-align: left;
  letter-spacing: 3px;
}

.ff_text{
  font-family: ten-oldstyle, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 200%;
}

.ff_text_italics{
  font-size: 200%;
  font-family: ten-oldstyle, serif;
  font-weight: 400;
  font-style: italic85
}

.loc_pattern{
  position:absolute;
  z-index: 0;
  left: 0px;
  top:-689px;
  transform: scale(1);
  width: 100%;
  height: 100vh;
  margin-left: 0%;
  margin-top: 78vh;
  background-color: white;
  border: 1px solid black;
}

#la_banner{
  background-color: black;
  position: relative;
  font-size: 550%;
  border-radius: 0%;
  width: 100%;
  height: 7%;
  border: 2px solid black;
  padding: 30px;
  top:-210px;
  color: white;
  z-index: 1;

}

.la_title{
  top:5%;
  left:7%;
  position: absolute;
  z-index: 1;
  font-size: 1250%;
}

.la-container{
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 0%;
  margin-top: 13vh;
  background-color: white;
  border: 1px solid black; 
  display: flex;

}

div.la-container{
  background-image: url(pattern_ch.png);
}

#ch_banner{
  background-color: black;
  display: flex;
  position: relative;
  font-size: 550%;
  border-radius: 0%;
  width: 100vw;
  height: 7%;
  border: 2px solid black;
  padding: 30px;
  top:-210px;
  width: 100vw;
  color: white;
  z-index: 1;
}

.ch_title{
  top:5%;
  left:7%;
  position: absolute;
  z-index: 1;
  font-size: 1250%;
}

.ch-container{
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 0%;
  margin-top:13vh;
  background-color: white;
  border: 1px solid black; 
/*  top:267%;*/
  display: flex;
}

div.ch-container{
  background-image: url(pattern_la.png);
}


#bstn_banner{
  background-color: black;
  display: flex;
  position: relative;
  font-size: 550%;
  border-radius: 0%;
  width: 100vw;
  height: 7%;
  border: 2px solid black;
  padding: 30px;
  top:-211px;
  width: 100vw;
  color: white;
  z-index: 1;
}

.bstn_title{
  top:6%;
  left:7%;
  position: absolute;
  z-index: 1;
  font-size: 1250%;
}

.bstn-container{
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 0%;
  margin-top: 13vh;
  background-color: white;
  border: 1px solid black;
/*  top:73.5%;*/
  display: flex;
}
div.bstn-container{
  background-image: url(pattern_bstn.png);
}

#pvd_banner{
  background-color: black;
  display: flex;
  position: relative;
  font-size: 550%;
  border-radius: 0%;
  width: 100vw;
  height: 7%;
  border: 2px solid black;
  padding: 30px;
  top:-23%;
  width: 100vw;
  color: white;
  z-index: 1;
}

.pvd_title{
  top:7%;
  left:7%;
  position: absolute;
  z-index: 1;
  font-size: 1250%;  
}

.pvd-container{
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 0%;
  margin-top: 13vh;
  background-color: white;
  border: 1px solid black;   
/*  top:277%;*/
  display: flex;
}

div.pvd-container{
  background-image: url(pattern_pvd.png);
}

#nyc_banner{
  background-color: black;
  display: flex;
  position: relative;
  font-size: 550%;
  border-radius: 0%;
  width: 100vw;
  height: 7%;
  border: 2px solid black;
  padding: 30px;
  top:-211px;
  width: 100vw;
  color: white;
  z-index: 1;
}

.nyc_title{
  top:5%;
  left:7%;
  position: absolute;
  z-index: 1;
  font-size: 1250%;  
}

.nyc-container{
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 0%;
  margin-top:13vh;
  background-color: white;
  border: 1px solid black;   
/*  top:430%;*/
  display: flex;
}

div.nyc-container{
  background-image: url(pattern_nyc.png);
}

.gif{
  display:none;
  top: 30%;
  left:70%;
  z-index: 0;
  transform: scale(1);
  background-color: white;
  border: 1px solid black;
  position:absolute;

}

li.one:hover + img{
  display:block;
  width:300px;
  height:  300px;
  left:300px;
  border-radius: 150px;
}

li.two:hover + img{
  display:block;
  width:300px;
  height:  300px;
  left:300px;
  border-radius: 150px;
}

li.three:hover + img{
  display:block;
  width:300px;
  height:  300px;
  left:300px;
  border-radius: 150px;
}

li.four:hover + img{
  display:block;
  width:300px;
  height:  300px;
  left:300px;
  border-radius: 150px;
}

.unstyled-bp{
  list-style-type: none;
  margin-right: 15%;
}

.about_uc{
  text-transform: uppercase;
  font-size: 300%;
  line-height: 70%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}


#top_button {
    padding: 0% 3%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:225%;
    left:70%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#top_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}

#top_menu_button {
    padding: 0% 3%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:339%;
    left:70%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#top_menu_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.6s;
}

#top_sf_button {
    padding: 0% 3%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:27%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#top_sf_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#top_la_button {
    padding: 0% 3%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:27%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#top_la_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#top_ch_button {
    padding: 0% 3%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:27%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#top_ch_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#top_bstn_button {
    padding: 0% 3%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:27%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#top_bstn_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#top_pvd_button {
    padding: 0% 3%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:27%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#top_pvd_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#top_nyc_button {
    padding: 0% 3%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:27%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#top_nyc_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#reserve_sf_button {
    padding: 0% 2.5%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:76%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#reserve_sf_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#reserve_la_button {
    padding: 0% 2.5%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:80%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#reserve_la_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#reserve_ch_button {
    padding: 0% 2.5%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:80%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#reserve_ch_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#reserve_bstn_button {
    padding: 0% 2.5%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:80%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#reserve_bstn_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#reserve_pvd_button {
    padding: 0% 2.5%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:80%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#reserve_pvd_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#reserve_nyc_button {
    padding: 0% 2.5%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0px 0px 10px black);
    top:80%;
    left:88%;
    text-transform: uppercase;
    background-color: white;
    position: absolute;
}

#reserve_nyc_button:hover {
  background-color: black; 
  color: white;
  transition-duration: 0.8s;
}

#food-festival_button{
    padding: 5%;
    border-radius: 50%;
    border: 1px solid black;
    z-index: -3;
    position: 60px 90px;
}


/*.about_menu_info{
  font-size: 90%;
  position: relative;
  top:10px;
}*/
.about_uc{
  text-transform: uppercase;
  font-size: 140px;
  line-height: 70%;
  margin: auto;
}

.about-menu{
  font-size: 150px;
/*  line-height: -10%;*/
  margin: auto;
}
